@inject IStringLocalizer<StrawberrySass.UI.Home.App.About.AboutController> AboutControllerLocalizer

<h1 class="app-page-title">@SharedLocalizer["About"]</h1>

<!-- == Description == -->
<section class="row">
    <div class="col-xs-12">

        <h2>@AboutControllerLocalizer["BuiltWithPassion"]</h2>
        
        <p>@AboutControllerLocalizer["TeamMinding"]</p>

    </div>
</section>

<!-- == Contributors == -->
<section class="row center-xs">
    <div class="col-md-10">
        <div class="box">

            <h2>@SharedLocalizer["Contributors"]</h2>

            <div class="app-contributors row">

                @for (var i = 0; i < 4; i++)
                {
                    <div class="col-md-3">
                        <div class="box">
                            <md-card class="app-contributor">
                                <img src="~/Shared/Assets/Images/UnknownPerson.png" alt="Vous?" class="app-contrivutor-photo" md-card-image>

                                <md-card-content>
                                    <md-card-title class="app-contributor-name">@SharedLocalizer["Researched"]</md-card-title>
                                </md-card-content>

                                <md-card-actions>
                                    <button routerLink="/contact-us" md-button>@SharedLocalizer["Apply"]</button>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
</section>