@inject IStringLocalizer<StrawberrySass.UI.Home.App.Welcome.WelcomeController> WelcomeControllerLocalizer

<header class="app-header" [style.height]="headerHeight"
        (window:resize)="setHeaderHeight()">

    <div class="app-header-content">
        <img class="app-logo" src="~/Shared/Assets/Images/Logo.png" alt="StrawberrySass" />
    </div>

</header>

<div class="row center-xs">
    <div class="col-md-8">
        <div class="box">

            <section>
                <h1>@Html.Raw(WelcomeControllerLocalizer["StrawberryShortDescription"])</h1>
                <p>@WelcomeControllerLocalizer["StrawberryLongDescription"]</p>

                <app-news-subscription></app-news-subscription>
            </section>                       

            <section class="app-feature row">
                <div class="col-md-3">
                    <div class="box">
                        <img class="app-feature-img" src="~/Shared/Assets/Images/LightBulb.png" alt="@WelcomeControllerLocalizer["EasyToLearn"]" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="app-feature-txt app-left box">
                        <h3>@WelcomeControllerLocalizer["EasyToLearn"]</h3>
                        <p>@WelcomeControllerLocalizer["EasyToLearnExplanation"]</p>
                    </div>
                </div>
            </section>
            
            <section class="app-feature row">
                <div class="col-md-9">
                    <div class="app-feature-txt app-right box">
                        <h3>@WelcomeControllerLocalizer["FastAndEfficient"]</h3>
                        <p>@WelcomeControllerLocalizer["FastAndEfficientExplanation"]</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <img class="app-feature-img" src="~/Shared/Assets/Images/Speedometer.png" alt="@WelcomeControllerLocalizer["FastAndEfficient"]"/>
                    </div>
                </div>
            </section>
            
            <section class="app-feature row">
                <div class="col-md-3">
                    <div class="box">
                        <img class="app-feature-img" src="~/Shared/Assets/Images/SassLogo.png" alt="Sass" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="app-feature-txt app-left box">
                        <h3>@WelcomeControllerLocalizer["BuiltToLast"]</h3>
                        <p>@WelcomeControllerLocalizer["BuiltToLastExplanation"]</p>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>