@inject IStringLocalizer<StrawberrySass.UI.Shared.App.Common.Account.AccountController> AccountControllerLocalizer

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="app-dialog-header">
        <h1 class="app-dialog-title">@SharedLocalizer["Login"]</h1>

        <span class="app-fill-remaining"></span>

        <md-icon class="app-dialog-close-btn"
                 (click)="dialogRef.close()">close</md-icon>
    </div>

    <div class="app-dialog-content">

        <md-input type="text" placeholder="@SharedLocalizer["Username"]"
                  formControlName="userName"
                  [class.error]="isControlErrors('userName')">
            <md-hint>
                <span *ngFor="let error of getControlErrors('userName')">
                    {{ error == 'required' ? "@AccountControllerLocalizer["UsernameRequiredError"]" : '' }}
                    {{ error == 'maxlength' ? "@AccountControllerLocalizer["UsernameMaxLengthError"]" : '' }}
                    {{ error == 'minlength' ? "@AccountControllerLocalizer["UsernameMinLengthError"]" : '' }}
                </span>
            </md-hint>
        </md-input>

        <md-input type="password" placeholder="@SharedLocalizer["Password"]"
                  formControlName="password"
                  [class.error]="isControlErrors('password')">
            <md-hint>
                <span *ngFor="let error of getControlErrors('password')">
                    {{ error == 'required' ? "@AccountControllerLocalizer["PasswordRequiredError"]" : '' }}
                    {{ error == 'maxlength' ? "@AccountControllerLocalizer["PasswordMaxLengthError"]" : '' }}
                    {{ error == 'minlength' ? "@AccountControllerLocalizer["PasswordMinLengthError"]" : '' }}
                    {{ error == 'pattern' ? "@AccountControllerLocalizer["PasswordPatternError"]" : '' }}
                </span>
            </md-hint>
        </md-input>

    </div>

    <div class="app-dialog-footer">
        <button type="submit"
                md-button
                [disabled]="!loginForm.valid">
            @SharedLocalizer["SignIn"]
        </button>

        <span class="app-fill-remaining"></span>

        <button md-button
                routerLink="/account/register">
            @SharedLocalizer["SignUp"]
        </button>
    </div>

</form>
