<h1 class="app-page-title">@SharedLocalizer["Member"]</h1>

<section class="row center-xs">
    <div class="col-md-10">
        
        @*<form>*@

            <md-input type="text"
                      placeholder="@SharedLocalizer["Username"] (@SharedLocalizer["Disabled"])"
                      disabled
                      [value]="member?.userName"></md-input>

            <md-input type="text"
                      placeholder="@SharedLocalizer["EmailAddress"] (@SharedLocalizer["Disabled"])"
                      disabled
                      [value]="member?.email"></md-input>

            <div style="text-align: left"
                 *ngFor="let role of member?.roles">

                <md-checkbox [checked]="getRoleValue(role)"
                             (change)="onMemberRoleChange(role, $event)">
                    {{ getRoleName(role) }}
                </md-checkbox>
            </div>

            <div class="app-confirm-section">
                <button md-button
                        (click)="onSubmit()">@SharedLocalizer["Confirm"]</button>
            </div>

        @*</form>*@

    </div>
</section>