<!DOCTYPE html>
<html>

<head>
    <base href="@ViewData["BaseUrl"]">
    <title>@ViewData["Title"] - StrawberrySass</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://cdn.rawgit.com/strawberrysass/strawberry-branding/master/favicons/favicon.ico" type="image/x-icon"/>

    @RenderSection("styles", required: false)
</head>

<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>

</html>